.head {
  display: flex;

  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.headActions {
  min-height: 10vh;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headtitle {
  font-size: 24px;
  font-weight: 500;
}

.headDisc {
  min-height: 17vh;
  background-color: #cbd1d9;
  padding: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.btn__workflow {
  color: white;
  background-color: rgb(19, 108, 19);
  border: none;
  padding: 1 8px 1 8px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}
.btn__workflow:hover {
  color: white;
}
