.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.template_label {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.template__links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 17px;
  font-weight: 600;
  border-radius: 4px;
  color: rgb(79, 79, 79);
  font-size: 13px;
  text-align: end;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link:hover {
  color: rgb(79, 79, 79);
}
.active {
  background-color: #0aa1dd;
  color: white !important;
  /* color: white; */
}

.arrow {
  padding: 8px;
  padding-left: 6rem;
  font-size: 20px;
}

@media (max-width: 740px) {
  .sidebar {
    display: none;
  }
}
