.template {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

@media (max-width: 740px) {
  .hamburger {
    width: 30px;
    height: 30px;
    background-color: rgb(148, 61, 182);
    margin-left: -10;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    margin: 3px;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}
